server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: catalogo-service
          uri: http://localhost:8086
          predicates:
            - Path=/catalogo/**
          filters:
            - StripPrefix=1

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: https://www.googleapis.com/service_accounts/v1/jwk/securetoken%40system.gserviceaccount.com
