version: '3.9'

services:
  mysql:
    build: ./Db
    container_name: mysql-provider
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: providerdb
      MYSQL_USER: provider_user
      MYSQL_PASSWORD: provider_pass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - provider-net

  providerdata:
    build:
      context: ./ProviderData
      dockerfile: Dockerfile
    container_name: provider-data
    depends_on:
      - mysql
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__DefaultConnection: "server=mysql-provider;port=3306;database=providerdb;user=provider_user;password=provider_pass;"
    ports:
      - "5117:8080"
    networks:
      - provider-net

  providerapi:
    build:
      context: ./ProviderAPI
      dockerfile: Dockerfile
    container_name: provider-api
    depends_on:
      - providerdata
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      GrpcSettings__ProviderDataUrl: "http://provider-data:8080"
    ports:
      - "5118:8080"
    networks:
      - provider-net
      - backend_microservices-network
     
networks:
  provider-net:
    driver: bridge

  backend_microservices-network:
    external: true

volumes:
  mysql_data: